<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

      <div class="top ad"><%= t.include("partials/_ad.html", { type: "banner" }) %></div>

      <nav class="top-bar">
        <a class="logo" href="http://seattletimes.com">
          <img src="./assets/seattletimes.svg">
        </a>
      </nav>

      <div class="top-graphic">
        <img class="long" src="./assets/candidateQuizLede.png"></img>
        <img class="short" src="./assets/candidateQuizSecondary.png"></img>
      </div>

      <header>
        <div class="title">
          <img src="./assets/candidateQuizBannerBlue.jpg"></img>
        </div>
        <div class="chatter">Are you good with names at parties? Because we've got a lot of names and two parties here.</div><div>How many of these folks can you name?</div>
        <a class="share-button"></a>
      </header>

      <div class="quiz-container" id="quiz">
        <div class="quiz-header"></div>
          <div class="quiz-box">
            <div class="question-box"></div>
          </div>
        <div class="quiz-footer"></div>
      </div>

      <div class="credits">
        Quiz by <span class="credit-name">Gina Cole and Greg Rasa</span> &bull; Graphics by <span class="credit-name">Frank Mina</span> &bull; Web development by <span class="credit-name">Emma O'Neill</span>
      </div>

      <div class="thin-div">
        <div class="center">Don't Miss</div>
      </div>

      <%= t.include("js/_dontMiss.html") %>
    <div class="ad"><%= t.include("partials/_ad.html", { type: "bannerBottom" }) %></div>

    <footer>
      <a class="logo" href="http://seattletimes.com">
        <img src="./assets/st-logo.png">
      </a>
      <a class="share-bottom"></a>
    </footer>

    <script>
      <%
        var quizData = {};
        var rows = [];
        json.CandidateQuiz2015_Questions.forEach(function(q) {
          quizData[q.id] = {
            "question": q.question,
            "image": q.image,
            "hintImage": q.hintimage,
            "finalImage": q.finalimage,
            "party": q.party,
            "name": q.name,
            "summary": q.summary,
            "storyurl": q.storyurl
          };
          rows.push({
            "finalImage": q.finalimage,
            "name": q.name,
            "party": q.party,
            "summary": q.summary,
            "storyurl": q.storyurl
          });
        });

        json.CandidateQuiz2015_Answers.forEach(function(a) {
          var id = a.id;
          if (!quizData[id].answers) { quizData[id].answers = [] }
          var answer = {
            answer: a.answer,
            correct: a.correct
          };
          quizData[id].answers.push(answer);
        });
      %>

      var quizData = <%= JSON.stringify(quizData) %>
      var rows = <%= JSON.stringify(rows) %>
      var resultsData = <%= JSON.stringify(json.CandidateQuiz2015_Results) %>
      var dontMissData = <%= JSON.stringify(json.CandidateQuiz2015_DontMiss) %>
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
